{% extends "base.html.twig" %}

{% block nav %}{% include "default/navAdmin.html.twig" %}{% endblock %}
{% block content %}
    {% block admin %}
        <h1>{{ content.headline | convert_encoding('UTF-8', 'ISO-8859-1') }}</h1>
        <p>{{ content.text | convert_encoding('UTF-8', 'ISO-8859-1') }}</p><br>
        <p><a href="{{ path("new") }}">Neuen Beitrag erstellen</a></p>
        {% if entries is defined %}
            {% block entries %}

                <table class="tbl">
                    <tr>
                        <td class="tbl-title">Title</td>
                        <td class="tbl-author"><i class="fas fa-user"></i> Autor</td>
                        <td class="tbl-date"><i class="far fa-calendar-alt"></i> Date</td>
                        <td class="tbl-actions"><i class="fas fa-cogs"></i> Actions</td>
                    </tr>
                    {% for entry in entries %}
                        <tr>
                            <td>{{ entry.getTitle() }}</td>
                            <td>{{ entry.getAuthor() }}</td>
                            <td>{{ entry.getDate() }}</td>
                            <td>
                                <a class="btn btn-show"
                                   onclick="if(confirm('Bist du dir sicher?')) { return true; } else { return false; }"
                                   href="delete/{{ entry.getId() }}"><i class="fas fa-trash"></i> Delete</a>
                                <a class="btn btn-edit" href="edit/{{ entry.getId() }}"><i class="fas fa-edit"></i> Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endblock %}
        {% else %}
            Keine Eintr&auml;ge vorhanden
        {% endif %}
    {% endblock %}
{% endblock %}
