<div class="topline"></div>
<nav>
    {% image '@AppBundle/Resources/public/images/logo.svg' %}
        <img src="{{ asset_url }}" alt="" />
    {% endimage %}
    <ul>
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('article') }}">Beitr&auml;ge</a></li>
        <li><a>Sonstiges</a> <ul>
                <li><a  href="{{ path('page', {'type': "impressum"}) }}">Impressum</a></li>
                <li><a  href="{{ path('page', {'type': "about"}) }}">&Uuml;ber uns</a></li>
            </ul></li>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <li><a href="{{ path('fos_user_security_logout') }}">
                    Logout
                </a></li>
        {% else %}
           <li> <a href="{{ path('fos_user_security_login') }}">Login</a></li>
        {% endif %}
    </ul>
</nav>