<div class="topline"></div>
<nav>
    {% image '@AppBundle/Resources/public/images/logo.svg' %}
        <img src="{{ asset_url }}" alt=""/>
    {% endimage %}

    <ul>
        <li><a href="{{ path('home') }}">Home</a></li>
        {% if app.request.get('_route') == 'admin' %}
            <li><a href="{{ path('admin') }}" class="active">Start</a></li>
        {% else %}
            <li><a href="{{ path('admin') }}">Start</a></li>
        {% endif %}
        {% if app.request.get('_route') == 'entries' %}
            <li><a href="{{ path('entries') }}" class="active">Beiträge</a></li>
        {% else %}
            <li><a href="{{ path('entries') }}">Beiträge</a></li>
        {% endif %}
        <li><a>Statische Seiten</a>
            <ul>
                <li><a href="{{ path('editPages', {'title': "impressum"}) }}">Impressum bearbeiten</a></li>
                <li><a href="{{ path('editPages', {'title': "about"}) }}">Über uns bearbeiten</a></li>
            </ul>
        </li>
        <li>{#<a href="{{ path('user') }}">User</a> #}</li>
        {% if app.request.get('_route') == 'fos_user_security_logout' %}
            <li><a href="{{ path('fos_user_security_logout') }}" class="active">Logout</a></li>
        {% else %}
            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
        {% endif %}
    </ul>


</nav>